{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "ie": "11",
                "firefox": "50",
                "chrome": "49",
                "edge": "15",
                "safari": "11"
            }
        }],
        "@babel/preset-react"]
}